body {
  margin: 0;
  padding: 0;
}
#header {
  color: white;
  font-family: calibri;
  background: url(iceland.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}
#h-1 {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  position: relative;
}
#h-1 h1 {
  font-size: 44px;
}
#h-1 h1 a {
  text-decoration: none;
  color: white;
}
#h-1 p {
  font-weight: bold;
  font-size: 60px;
}
#h-1 center a {
  text-decoration: none;
  color: white;
  background: #00b07b;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 10px;
}
#h-1 center a:hover {
  background: #00c684;
  box-shadow: 0 0 8px 1px gray;
}
#notice {
  float: right;
  position: relative;
  right: 20px;
  top: 30px;
}
.container {
  margin: 80px 200px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}
.box {
  flex-basis: 300px;
  border: solid 1px black;
  border-radius: 20px;
  margin: 50px;
}
.box:hover {
  background-color: #eee;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.content {
  font-family: 'Lato';
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 1591px) {
  .container {
    margin: 80px;
  }
}
@media screen and (min-width: 2560px) {
  .container {
    margin: 120px 300px;
  }
}
