body {
  margin: 0;
  padding: 0;
}
#header {
  color: white;
  font-family: calibri;
  background: url(iceland.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}
#h-1 {
  max-width: 1000px;
  margin: auto;
  padding: 20px 0;
}
#h-1 h1 {
  font-size: 44px;
}
#h-1 p {
  font-weight: bold;
  font-size: 60px;
}
#h-1 a {
  text-decoration: none;
  color: white;
  background: #00b07b;
  font-size: 30px;
  padding: 4px 20px;
  border-radius: 30px;
  margin: 10px;
}
#h-1 a:hover {
  background: #00c684;
  box-shadow: 0 0 8px 1px gray;
}
