body {
  margin: 0;
  padding: 0;
}
#header {
  color: white;
  font-family: calibri;
  background: url(iceland.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}
#h-1 {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  position: relative;
}
#h-1 h1 {
  font-size: 44px;
}
#h-1 h1 a {
  text-decoration: none;
  color: white;
}
#h-1 p {
  font-weight: bold;
  font-size: 60px;
}
#h-1 center a {
  text-decoration: none;
  color: white;
  background: #00b07b;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 10px;
}
#h-1 center a:hover {
  background: #00c684;
  box-shadow: 0 0 8px 1px gray;
}
#notice {
  float: right;
  position: relative;
  right: 20px;
  top: 30px;
}
.container {
  margin: 80px;

  display: grid;
  grid-template-columns: repeat(3, minmax(150px, 250px));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 50px;
}
.box {
  border: 1px solid black;
  border-radius: 30px;
}
.box:hover {
  background-color: #ccc;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.content {
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}
