body {
  margin: 0;
  padding: 0;
}
#header {
  color: white;
  font-family: calibri;
  background: url(iceland.jpg);
  height: 104px;
  background-repeat: no-repeat;
  background-size: cover;
}
#h-1 {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
  position: relative;
}
#h-1 h1 {
  margin: 0;
  padding: 25px 0;
  font-size: 44px;
  float: left;
}
#h-1 h1 a {
  text-decoration: none;
  color: white;
}
#notice {
  margin-left: 20px;
  float: right;
  position: relative;
  right: 20px;
  top: 30px;
}
#center a {
  text-decoration: none;
  color: white;
  background: #00b07b;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 23.5px 30px;
  float: right;
}
#center a:hover {
  background: #00c684;
  box-shadow: 0 0 8px 1px gray;
}
#article {
  /* box-sizing: border-box; */
  width: 720px;
  margin: 180px auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 20px;
  transition: 0.2s;
  border-top: 1px solid white;

  user-select: none;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.header {
  background-color: #00b07b;
  padding: 30px 0;
  margin-bottom: 30px;
  color: white;
  text-align: center;
}
.header:after {
  content: "";
  display: table;
  clear: both;
}
.header input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 85%;
  padding: 10px;
  font-size: 20px;
}
#TODO li {
  text-align: left;
}
#TODO input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 85%;
  padding: 10px;
  font-size: 15px;
}
.add {
  margin-top: 30px;
  text-align: center;
}
.btn1 {
  border: 2px solid black;
  border-radius: 50px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
}
#add_btn {
  border-color: #00b07b;
  color: #00b07b;
}
#add_btn:hover {
  background-color: #00b07b;
  color: white;
}
.footer {
  text-align: center;
  margin-top: 50px;
}
.footer input {
  border: 2px solid #00b07b;
  background-color: white;
  color: #00b07b;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}
.footer input:hover {
background-color: #00b07b;
color: white;
}
