body {
  margin: 0;
  padding: 0;
}
#header {
  color: white;
  font-family: calibri;
  background: url(/images/iceland.jpg);
  height: 104px;
  background-repeat: no-repeat;
  background-size: cover;
}
#h-1 {
  max-width: 1000px;
  margin: auto;
  padding: 0 20px;
  position: relative;
}
#h-1 h1 {
  margin: 0;
  padding: 25px 0;
  font-size: 44px;
  float: left;
}
#h-1 h1 a {
  text-decoration: none;
  color: white;
}
#notice {
  margin-left: 20px;
  float: right;
  position: relative;
  right: 20px;
  top: 30px;
}
#center a {
  text-decoration: none;
  color: white;
  background: #00b07b;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 30px;
  margin: 23.5px 30px;
  float: right;
}
#center a:hover {
  background: #00c684;
  box-shadow: 0 0 8px 1px gray;
}
#article {
  width: 720px;
  margin: 80px auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 20px;
  transition: 0.2s;
  border-top: 1px solid white;

  user-select: none;
}
ul li:hover {
  background: #ddd;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
.close:hover {
  background-color: #f44336;
  color: white;
}
.header {
  margin-bottom: 30px;
  text-align: center;
  font-family: sans-serif;
}
.header h1 {
  font-weight: 100;
  margin-bottom: 30px;
  font-size: 50px;
}
.header input {
  text-align: center;
  margin: 0;
  border: none;
  background: none;
  width: 85%;
  padding: 10px;
  font-size: 20px;
}
.addlist {
  margin-bottom: 30px;
  text-align: center;
  font-family: sans-serif;
}
.addlist input {
  margin: 0;
  text-align: center;
  border: none;
  background: none;
  width: 65%;
  padding: 10px;
  font-size: 18px;
}
.addbtn {
  padding: 10px;
  width: 15%;
  background: #d9d9d9;
  color: #555;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.addbtn:hover {
  background-color: #bbb;
}
.addlist p {
  margin-top: 10px;
  font-size: 14px;
}
.todo-list li {
  text-align: left;
}
/* .add {
  margin-top: 30px;
  text-align: center;
}
.btn1 {
  border: 2px solid black;
  border-radius: 50px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
}
#add_btn {
  border-color: #00b07b;
  color: #00b07b;
}
#add_btn:hover {
  background-color: #00b07b;
  color: white;
} */
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 55px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 20px;
  font-family: sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}
/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}
/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border:1px solid #ecf0f1;
  background:#ecf0f1;
  padding:5px;
  display: inline-block;
  visibility: hidden;  /* check checkbox -> visible */
}
input[type="date"], focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
.footer {
  text-align: center;
  margin-top: 20px;
}
.footer input {
  border: 2px solid #00b07b;
  background-color: white;
  color: #00b07b;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}
.footer input:hover {
background-color: #00b07b;
color: white;
}
